@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* font-family: "Noto Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Avenir", sans-serif;
 */

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
}
/* ----------------- HEADER ----------------- */

.header__container {
  display: flex;
  align-items: center;
  gap: 108px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
}

/* ----------------- MAIN ----------------- */

/* ----------------- WELCOME ----------------- */

.welcome {
  padding-bottom: 50px;
}

.welcome__container {
  position: relative;
}

.welcome__container::after {
  content: "";
  position: absolute;
  right: -140px;
  top: -280px;
  background-image: url("img/bg-welcome.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 660px;
  height: 790px;
  transform: rotate(-105deg);
  z-index: -2;
}

.welcome__row {
  display: flex;
  min-height: 700px;
  align-items: center;

  margin-bottom: 30px;
}

.welcome__title {
  margin-bottom: 130px;
  font-size: 64px;
  line-height: 1.09;
}

.welcome__text {
  position: relative;
  font-size: 20px;
  padding-left: 130px;
  width: 380px;
}

.welcome__text::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 50%;
  filter: blur(50px);
  background: rgba(96, 92, 234, 0.5);
  width: 125px;
  height: 125px;
}

.welcome__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 120px;
  height: 4px;
  background-color: #fff;
  transform: rotate(120deg);
}

.welcome__img {
  width: 600px;
  position: absolute;
  top: -140px;
  right: -20px;
}

.cta {
  display: flex;
  justify-content: space-between;
}
.welcome__cta {
  padding-right: 80px;
}

.cta__text {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.cta__links {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* ----------------- MISSION ----------------- */

.mission {
  position: relative;
  padding: 150px 85px 200px 0;
}

.mission__container {
}

.mission__img {
  position: absolute;
  top: 0;
  right: 50%;
  transform: rotate(90deg) translate(-43%);
  z-index: -1;
}

.mission__desc {
  width: 320px;
  margin-left: auto;
}

.mission__title {
  margin-bottom: 35px;
  position: relative;
}

.mission__title::before {
  content: "";
  position: absolute;
  right: 55px;
  top: 7px;
  z-index: -1;
  filter: blur(50px);
  background: rgba(241, 1, 191, 1);
  opacity: 0.7;

  width: 85px;
  height: 85px;
}

.mission__text {
}
