@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* font-family: "Noto Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Avenir", sans-serif;
 */

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--small {
  max-width: 1000px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
}

/* ----------------- HEADER ----------------- */

.header__container {
  display: flex;
  align-items: center;
  gap: 108px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__login::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 32px;
  width: 54px;
  height: 1px;
  background-color: #fff;
}

/* ----------------- MAIN ----------------- */

/* ----------------- WELCOME ----------------- */

.welcome {
  padding-bottom: 50px;
}

.welcome__container {
  position: relative;
}

.welcome__container::after {
  content: "";
  position: absolute;
  right: -140px;
  top: -280px;
  background-image: url("img/bg-welcome.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 660px;
  height: 790px;
  transform: rotate(-105deg);
  z-index: -10;
}

.welcome__row {
  display: flex;
  min-height: 700px;
  align-items: center;

  margin-bottom: 30px;
}

.welcome__title {
  margin-bottom: 130px;
  font-size: 64px;
  line-height: 1.09;
}

.welcome__text {
  position: relative;
  font-size: 20px;
  padding-left: 130px;
  width: 380px;
}

.welcome__text::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 50%;
  filter: blur(50px);
  background: rgba(96, 92, 234, 0.5);
  width: 125px;
  height: 125px;
}

.welcome__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 120px;
  height: 4px;
  background-color: #fff;
  transform: rotate(120deg);
}

.welcome__img {
  width: 600px;
  position: absolute;
  top: -140px;
  right: -20px;
  z-index: -5;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome__cta {
  padding-right: 80px;
}

.cta__text {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.cta__links {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 30px;
}

/* ----------------- MISSION ----------------- */

.mission {
  position: relative;
  padding: 150px 85px 200px 0;
}

.mission__container {
}

.mission__img {
  position: absolute;
  top: 0;
  right: 50%;
  transform: rotate(90deg) translate(-43%);
  z-index: -1;
}

.mission__desc {
  width: 320px;
  margin-left: auto;
}

.mission__title {
  margin-bottom: 35px;
  position: relative;
}

.mission__title::before {
  content: "";
  position: absolute;
  right: 55px;
  top: 7px;
  z-index: -1;
  filter: blur(50px);
  background: rgba(241, 1, 191, 1);
  opacity: 0.7;

  width: 85px;
  height: 85px;
}

/* ----------------- COMMON ----------------- */

.common {
  margin-top: 100px;

  padding: 50px 0;
}

.scanner {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) -3%,
      rgba(0, 0, 0, 0) 56%,
      rgba(0, 0, 0, 1) 84%
    ),
    url("img/bg-scanner.jpg");
  background-size: cover;
}

.code {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) -3%,
      rgba(0, 0, 0, 0) 56%,
      rgba(0, 0, 0, 1) 84%
    ),
    url("img/bg-code.jpg");
  background-size: cover;
  background-position: center;
}

.common__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.common--reverse .common__container {
  flex-direction: row-reverse;
}

.common__img {
  width: 330px;
}

.common__col {
  max-width: 410px;
}

.common__title {
  margin-bottom: 20px;
}

/* ----------------- FOOTER ----------------- */

.footer {
  padding: 100px 0 50px;
  overflow: hidden;
}

.footer .container {
  position: relative;
}

.footer .container::before {
  content: "";
  position: absolute;
  left: -170px;
  bottom: -200px;
  filter: blur(125px);
  background: linear-gradient(
    42deg,
    rgba(241, 1, 191, 1),
    rgba(0, 102.0000228881836, 255, 1) 100%
  );
  opacity: 0.3;
  width: 400px;
  height: 400px;
  transform: rotate(6deg);
  z-index: -1;
}

.footer__cta {
  flex-direction: column;
  gap: 32px;
  margin-bottom: 125px;
}

.footer .cta__text {
  font-size: 24px;
}

.footer__cta .cta__links {
  gap: 60px;
}

.footer__cta .cta__img {
  height: 80px;
}

.footer__row {
  font-family: "Avenir", sans-serif;
  font-weight: 900;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__contact {
  margin-bottom: 15px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ----------------- МЕДИА ЗАПРОСЫ ----------------- */

@media (max-width: 940px) {
  .welcome__img {
    right: -190px;
  }

  .cta__text {
    font-size: 24px;
  }

  .mission__img {
    right: 60%;
  }

  .welcome__cta {
    padding-right: 0px;
  }
  .mission {
    padding-right: 0px;
  }

  .common__col,
  .mission__desc {
    max-width: 380px;
  }

  .mission__desc {
    width: unset;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 30px;
  }
  .header__container {
    justify-content: space-between;
    gap: 0;
  }

  .welcome__title {
    margin-bottom: 50px;
    font-size: 50px;
  }

  .welcome__text {
    position: relative;
    font-size: 18px;
    width: 45%;
  }

  .welcome__row {
    margin-bottom: -80px;
  }

  .welcome {
    margin-top: -80px;
  }

  .welcome__img {
    width: 400px;
    top: 20px;
    right: -170px;
  }

  .cta {
    flex-direction: column;
    gap: 35px;
  }

  .footer__cta .cta__img {
    height: 60px;
  }

  .footer__cta .cta__links {
    gap: 24px;
  }

  .welcome__container::after {
    background-image: url(img/bg-welcome-mobile.svg);
    filter: blur(125px);
    width: 700px;
    height: 826px;
    transform: rotate(0deg);
    right: -140px;
    top: -75px;
  }
}

@media (max-width: 600px) {
  .logo__image,
  .logo__image {
    width: 50px;
  }

  .logo {
    gap: 3px;
  }

  .header__login img {
    display: none;
  }

  .header__login::after {
    left: -4px;
    bottom: -7px;
  }

  .welcome {
    margin-top: -100px;
  }

  .welcome__row {
    margin-bottom: -100px;
  }

  .welcome__title {
    margin-bottom: 24px;
    font-size: 35px;
    width: 70%;
  }

  .welcome__text {
    font-size: 16px;
    padding-left: 0px;
    width: 60%;
  }

  .welcome__text::before,
  .welcome__text::after {
    display: none;
  }

  .welcome__img {
    width: 350px;
    right: -135px;
    top: 80px;
  }
}

@media (max-width: 500px) {
  .welcome {
    margin-top: -140px;
  }

  .cta__links {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .welcome__img {
    width: 300px;
    right: -125px;
    top: 125px;
  }
}
